* {
    Margin: 0;
    padding:0;
}

#main {
    width: 100%;
    height:fit-content;
}



/*Home*/

#sectionA{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $ye;
    padding: 20px 20px 0px 20px;
}

.iframetitle{
    display: flex;
    color: $ye;
    background-color: $bl;
    width: 1120px;
    justify-content: center
}

#section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $bl;
    color: $wh;
    font-size: larger;
}

.title1{
    font-family: $font-family;
    font-size:x-large;
    font-weight: bolder;
}

#section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $ye;
    color: black;
    font-size: larger;
}

.title2{
    font-family:$font-family;
    font-size:x-large;
    font-weight: bolder;
}

/*Staff*/

#sectionC{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $ye;
    padding: 20px 20px 0px 20px;
}

/*Contacto*/

.contact{
    background-color:$ye;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formcolor{
    background-color: $ye;
}

/*Navbar*/

ul.navlink a{
    text-decoration: none;
    /*color: $wh;*/
    font-weight: 300;
}

/*Footer*/

footer{
    width: 100%;
    background-color: $bl;
    height: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

/*Animaciones, transiciones y transformaciones*/

.navbar-toggler{
    background-color: $wh;
    margin: 0px !important;
    
    &:hover{
        background-color: $ye;
    }
}

.bg-black{
    background-color: $bl;
}

.animate__rubberBand {
    --animate-duration: 5s;
}

.animate__flipInY{
    --animate-duration: 5s;
}

/*Fin Animaciones*/



/*Bootstrap variaciones y cambios*/

.text-muted{
    color:$wh !important;
}

.link-dark{
    color:$ye !important
}

.accordion-button{
    background-color: $ye;
}







